In [1]:
from torchvision import datasets

class DataLoader:
    def __init__(self):
        pass
    
    @classmethod
    def load(self,name):
        if name=='mnist_5':
            data=np.load('./mnist_5.npy')
            X=data[:,:-1]
            Y_true=data[:,-1]
            return X,Y_true
        
        if name=='mnist_10':
            data=np.load('./mnist_10.npy')
            X=data[:,:-1]
            Y_true=data[:,-1]
            return X,Y_true
        
        if name=='mnist_20':
            data=np.load('./mnist_20.npy')
            X=data[:,:-1]
            Y_true=data[:,-1]
            return X,Y_true
        
        if name=='mnist_30':
            data=np.load('./mnist_30.npy')
            X=data[:,:-1]
            Y_true=data[:,-1]
            return X,Y_true
        
        if name=='mnist_784':
            dataset2 = datasets.MNIST('../data', train=False, download=True)
            N=dataset2.test_data.shape[0]
            X=dataset2.test_data.numpy().reshape(N,784)/255
            Y_true=dataset2.test_labels.numpy()
            return X,Y_true
        
        if name=='fmnist_5':
            data=np.load('./fmnist_5.npy')
            X=data[:,:-1]
            Y_true=data[:,-1]
            return X,Y_true
        
        if name=='fmnist_10':
            data=np.load('./fmnist_10.npy')
            X=data[:,:-1]
            Y_true=data[:,-1]
            return X,Y_true
        
        if name=='fmnist_20':
            data=np.load('./fmnist_20.npy')
            X=data[:,:-1]
            Y_true=data[:,-1]
            return X,Y_true
        
        if name=='fmnist_30':
            data=np.load('./fmnist_30.npy')
            X=data[:,:-1]
            Y_true=data[:,-1]
            return X,Y_true
        
        if name=='fmnist_784':
            dataset2 = datasets.FashionMNIST('../data', train=False, download=True)
            N=dataset2.test_data.shape[0]
            X=dataset2.test_data.numpy().reshape(N,784)/255
            Y_true=dataset2.test_labels.numpy()
            return X,Y_true

# GDT

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import sys;sys.path.append('../utils/')
import imp
import plot_tools,api
import pandas as pd
import networkx as nx
from measures import matchY,measures_calculator,matchY
import time

In [3]:
X,Y_true=DataLoader.load('mnist_5')

t1=time.time()
Y_pred=api.DGSFC.fit(  X,
                  K_d=20,
                  K_s=30,
                  alpha=0.2,
                  epsilon=0.001,
                  plot=False,
                  scale=True
                 )

t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.8337061405181885

         f1       ARI       ACC  cover_rate
0  0.884374  0.767597  0.861655       0.991

In [4]:
X,Y_true=DataLoader.load('mnist_10')

t1=time.time()
Y_pred=api.DGSFC.fit(  X,
                  K_d=40,
                  K_s=35,
                  alpha=0.3,
                  epsilon=0,
                  plot=False,
                  scale=True
                 )
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

4.774214267730713

         f1       ARI     ACC  cover_rate
0  0.810207  0.643486  0.7708         1.0

In [5]:
X,Y_true=DataLoader.load('mnist_20')

t1=time.time()
Y_pred=api.DGSFC.fit(  X,
                  K_d=50,
                  K_s=30,
                  alpha=0.3,
                  epsilon=0,
                  plot=False,
                  scale=True
                 )
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

18.243839025497437

         f1       ARI     ACC  cover_rate
0  0.754133  0.535164  0.7003         1.0

In [6]:
X,Y_true=DataLoader.load('mnist_30')

t1=time.time()
Y_pred=api.DGSFC.fit(  X,
                  K_d=100,
                  K_s=30,
                  alpha=0.1,
                  epsilon=0,
                  plot=False,
                  scale=True
                 )
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

30.63368511199951

         f1       ARI     ACC  cover_rate
0  0.673596  0.531709  0.6646         1.0

In [26]:
X,Y_true=DataLoader.load('fmnist_5')

t1=time.time()
Y_pred=api.DGSFC.fit(  X,
                  K_d=50,
                  K_s=12,
                  alpha=0.1,
                  epsilon=0.02,
                  plot=False,
                  scale=True
                 )

t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.7363905906677246

         f1       ARI       ACC  cover_rate  classes
0  0.560494  0.429896  0.566425       0.965     22.0

In [9]:
X,Y_true=DataLoader.load('fmnist_10')

t1=time.time()
Y_pred=api.DGSFC.fit(  X,
                  K_d=30,
                  K_s=30,
                  alpha=0.2,
                  epsilon=0,
                  plot=False,
                  scale=True
                 )
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

2.9279448986053467

         f1       ARI     ACC  cover_rate
0  0.529003  0.346608  0.4945         1.0

In [10]:
X,Y_true=DataLoader.load('fmnist_20')

t1=time.time()
Y_pred=api.DGSFC.fit(  X,
                  K_d=100,
                  K_s=30,
                  alpha=0.3,
                  epsilon=0,
                  plot=False,
                  scale=True
                 )
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

13.603097438812256

         f1       ARI     ACC  cover_rate
0  0.523557  0.253892  0.4716         1.0

In [11]:
X,Y_true=DataLoader.load('fmnist_30')

t1=time.time()
Y_pred=api.DGSFC.fit(  X,
                  K_d=50,
                  K_s=25,
                  alpha=0.2,
                  epsilon=0,
                  plot=False,
                  scale=True
                 )
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

18.701659679412842

         f1       ARI     ACC  cover_rate
0  0.496824  0.215011  0.4286         1.0

# HDBSCAN

In [12]:
import hdbscan

In [13]:
X,Y_true=DataLoader.load('mnist_5')
t1=time.time()
clusterer = hdbscan.HDBSCAN(min_cluster_size=20, min_samples=10,cluster_selection_epsilon=0.5)
clusterer.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=clusterer.labels_

measures_calculator(Y_true, Y_pred)

0.4601738452911377

         f1       ARI       ACC  cover_rate
0  0.889706  0.900981  0.917821      0.4186

In [14]:
X,Y_true=DataLoader.load('mnist_10')
t1=time.time()
clusterer = hdbscan.HDBSCAN(min_cluster_size=20, min_samples=1,cluster_selection_epsilon=0.1)
clusterer.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=clusterer.labels_

measures_calculator(Y_true, Y_pred)

2.1076111793518066

         f1       ARI       ACC  cover_rate
0  0.849681  0.874101  0.860465      0.5418

In [15]:
X,Y_true=DataLoader.load('mnist_20')
t1=time.time()
clusterer = hdbscan.HDBSCAN(min_cluster_size=10, min_samples=2,cluster_selection_epsilon=2)
clusterer.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=clusterer.labels_

measures_calculator(Y_true, Y_pred)

3.4101648330688477

         f1       ARI       ACC  cover_rate
0  0.495667  0.356484  0.563065      0.4646

In [16]:
X,Y_true=DataLoader.load('mnist_30')
t1=time.time()
clusterer = hdbscan.HDBSCAN(min_cluster_size=15, min_samples=1,cluster_selection_epsilon=2)
clusterer.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=clusterer.labels_

measures_calculator(Y_true, Y_pred)

7.497862100601196

         f1       ARI       ACC  cover_rate
0  0.938794  0.936519  0.904397      0.4822

In [17]:
X,Y_true=DataLoader.load('fmnist_5')
t1=time.time()
clusterer = hdbscan.HDBSCAN(min_cluster_size=20, min_samples=5,cluster_selection_epsilon=0.1)
clusterer.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=clusterer.labels_

measures_calculator(Y_true, Y_pred)

0.44167065620422363

         f1       ARI       ACC  cover_rate
0  0.396973  0.313112  0.473973       0.365

In [18]:
X,Y_true=DataLoader.load('fmnist_10')
t1=time.time()
clusterer = hdbscan.HDBSCAN(min_cluster_size=20, min_samples=1,cluster_selection_epsilon=0.1)
clusterer.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=clusterer.labels_

measures_calculator(Y_true, Y_pred)

1.1320135593414307

         f1       ARI      ACC  cover_rate
0  0.147462  0.183848  0.27736      0.6789

In [19]:
X,Y_true=DataLoader.load('fmnist_20')
t1=time.time()
clusterer = hdbscan.HDBSCAN(min_cluster_size=45, min_samples=1,cluster_selection_epsilon=0.1)
clusterer.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=clusterer.labels_

measures_calculator(Y_true, Y_pred)

2.399805784225464

         f1       ARI       ACC  cover_rate
0  0.289571  0.255783  0.423558      0.4559

In [20]:
X,Y_true=DataLoader.load('fmnist_30')
t1=time.time()
clusterer = hdbscan.HDBSCAN(min_cluster_size=50, min_samples=1,cluster_selection_epsilon=0.1)
clusterer.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=clusterer.labels_

measures_calculator(Y_true, Y_pred)

4.434223175048828

         f1       ARI       ACC  cover_rate
0  0.181833  0.153549  0.298925      0.6791

# mean-shift

In [21]:
from sklearn.cluster import MeanShift, estimate_bandwidth

In [22]:
X,Y_true=DataLoader.load('mnist_5')
bandwidth = estimate_bandwidth(X, quantile=0.01, n_samples=1000)
t1=time.time()
ms = MeanShift(bandwidth=bandwidth, bin_seeding=True, cluster_all=True)
ms.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=ms.labels_
measures_calculator(Y_true, Y_pred)

10.085852146148682

         f1       ARI     ACC  cover_rate
0  0.790632  0.544347  0.7223         1.0

In [23]:
X,Y_true=DataLoader.load('mnist_10')
bandwidth = estimate_bandwidth(X, quantile=0.01, n_samples=1000)
t1=time.time()
ms = MeanShift(bandwidth=bandwidth, bin_seeding=True, cluster_all=True)
ms.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=ms.labels_
measures_calculator(Y_true, Y_pred)

23.89030122756958

         f1       ARI     ACC  cover_rate
0  0.707042  0.561116  0.6707         1.0

In [24]:
X,Y_true=DataLoader.load('mnist_20')
bandwidth = estimate_bandwidth(X, quantile=0.01, n_samples=1000)
t1=time.time()
ms = MeanShift(bandwidth=bandwidth, bin_seeding=True, cluster_all=True)
ms.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=ms.labels_
measures_calculator(Y_true, Y_pred)

4.537473917007446

         f1       ARI     ACC  cover_rate
0  0.512358  0.465628  0.5801         1.0

In [25]:
X,Y_true=DataLoader.load('mnist_30')
bandwidth = estimate_bandwidth(X, quantile=0.01, n_samples=1000)
t1=time.time()
ms = MeanShift(bandwidth=bandwidth, bin_seeding=False, cluster_all=True)
ms.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=ms.labels_
measures_calculator(Y_true, Y_pred)

187.70040678977966

         f1      ARI     ACC  cover_rate
0  0.450197  0.31679  0.4463         1.0

In [26]:
X,Y_true=DataLoader.load('fmnist_5')
bandwidth = estimate_bandwidth(X, quantile=0.01, n_samples=1000)
t1=time.time()
ms = MeanShift(bandwidth=bandwidth, bin_seeding=True, cluster_all=True)
ms.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=ms.labels_
measures_calculator(Y_true, Y_pred)

12.375214099884033

         f1       ARI     ACC  cover_rate
0  0.465823  0.296305  0.4371         1.0

In [27]:
X,Y_true=DataLoader.load('fmnist_10')
bandwidth = estimate_bandwidth(X, quantile=0.01, n_samples=1000)
t1=time.time()
ms = MeanShift(bandwidth=bandwidth, bin_seeding=True, cluster_all=True)
ms.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=ms.labels_
measures_calculator(Y_true, Y_pred)

27.24378228187561

         f1       ARI     ACC  cover_rate
0  0.313768  0.242606  0.3291         1.0

In [28]:
X,Y_true=DataLoader.load('fmnist_20')
bandwidth = estimate_bandwidth(X, quantile=0.01, n_samples=1000)
t1=time.time()
ms = MeanShift(bandwidth=bandwidth, bin_seeding=True, cluster_all=True)
ms.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=ms.labels_
measures_calculator(Y_true, Y_pred)

3.61916184425354

         f1       ARI     ACC  cover_rate
0  0.316771  0.272929  0.3889         1.0

In [29]:
X,Y_true=DataLoader.load('fmnist_30')
bandwidth = estimate_bandwidth(X, quantile=0.01, n_samples=1000)
t1=time.time()
ms = MeanShift(bandwidth=bandwidth, bin_seeding=False, cluster_all=True)
ms.fit(X)
t2=time.time()
print(t2-t1)
Y_pred=ms.labels_
measures_calculator(Y_true, Y_pred)

157.75168371200562

         f1       ARI     ACC  cover_rate
0  0.320346  0.221635  0.3261         1.0

# k-means

In [30]:
from sklearn.cluster import KMeans

In [31]:
X,Y_true=DataLoader.load('mnist_5')
t1=time.time()
kmeans = KMeans(n_clusters=10, random_state=5).fit(X)
Y_pred=kmeans.predict(X)
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.501570463180542

        f1       ARI    ACC  cover_rate
0  0.81237  0.673489  0.818         1.0

In [32]:
X,Y_true=DataLoader.load('mnist_10')
t1=time.time()
kmeans = KMeans(n_clusters=10, random_state=5).fit(X)
Y_pred=kmeans.predict(X)
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.4851658344268799

         f1       ARI     ACC  cover_rate
0  0.655667  0.569116  0.6622         1.0

In [33]:
X,Y_true=DataLoader.load('mnist_20')
t1=time.time()
kmeans = KMeans(n_clusters=10, random_state=5).fit(X)
Y_pred=kmeans.predict(X)
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.4769632816314697

         f1       ARI     ACC  cover_rate
0  0.529803  0.383411  0.5312         1.0

In [34]:
X,Y_true=DataLoader.load('mnist_30')
t1=time.time()
kmeans = KMeans(n_clusters=10, random_state=5).fit(X)
Y_pred=kmeans.predict(X)
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.7589669227600098

         f1       ARI     ACC  cover_rate
0  0.489717  0.346769  0.4874         1.0

In [35]:
X,Y_true=DataLoader.load('fmnist_5')
t1=time.time()
kmeans = KMeans(n_clusters=10, random_state=5).fit(X)
Y_pred=kmeans.predict(X)
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.3141956329345703

         f1     ARI     ACC  cover_rate
0  0.559114  0.4369  0.5691         1.0

In [36]:
X,Y_true=DataLoader.load('fmnist_10')
t1=time.time()
kmeans = KMeans(n_clusters=10, random_state=5).fit(X)
Y_pred=kmeans.predict(X)
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.3273005485534668

        f1       ARI    ACC  cover_rate
0  0.47962  0.386205  0.498         1.0

In [37]:
X,Y_true=DataLoader.load('fmnist_20')
t1=time.time()
kmeans = KMeans(n_clusters=10, random_state=5).fit(X)
Y_pred=kmeans.predict(X)
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.3403353691101074

         f1       ARI     ACC  cover_rate
0  0.479078  0.370895  0.5012         1.0

In [38]:
X,Y_true=DataLoader.load('fmnist_30')
t1=time.time()
kmeans = KMeans(n_clusters=10, random_state=5).fit(X)
Y_pred=kmeans.predict(X)
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.3643786907196045

         f1       ARI     ACC  cover_rate
0  0.481848  0.360864  0.4976         1.0

# QuickshiftPP

In [39]:
from QuickshiftPP import *

/usr/data/software/anaconda3/envs/ML/lib/python3.6/site-packages/sklearn/utils/deprecation.py:143: FutureWarning:

The sklearn.neighbors.kde module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.

In [40]:
X,Y_true=DataLoader.load('mnist_5')
t1=time.time()
model = QuickshiftPP(k=60,beta=0.4)
model.fit([X[i] for i in range(X.shape[0])])
Y_pred = model.memberships
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.47454094886779785

         f1      ARI     ACC  cover_rate
0  0.788353  0.73518  0.8061         1.0

In [41]:
X,Y_true=DataLoader.load('mnist_10')
t1=time.time()
model = QuickshiftPP(k=50,beta=0.5)
model.fit([X[i] for i in range(X.shape[0])])
Y_pred = model.memberships
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.7896969318389893

         f1       ARI     ACC  cover_rate
0  0.661989  0.621624  0.7162         1.0

In [42]:
X,Y_true=DataLoader.load('mnist_20')
t1=time.time()
model = QuickshiftPP(k=50,beta=0.5)
model.fit([X[i] for i in range(X.shape[0])])
Y_pred = model.memberships
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

1.9835903644561768

         f1       ARI     ACC  cover_rate
0  0.655562  0.637322  0.6858         1.0

In [43]:
X,Y_true=DataLoader.load('mnist_30')
t1=time.time()
model = QuickshiftPP(k=50,beta=0.5)
model.fit([X[i] for i in range(X.shape[0])])
Y_pred = model.memberships
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

3.097857713699341

         f1       ARI     ACC  cover_rate
0  0.644419  0.588566  0.6582         1.0

In [51]:
X,Y_true=DataLoader.load('fmnist_5')
t1=time.time()
model = QuickshiftPP(k=60,beta=0.05)
model.fit([X[i] for i in range(X.shape[0])])
Y_pred = model.memberships
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.504859447479248

         f1       ARI     ACC  cover_rate
0  0.558703  0.434594  0.5695         1.0

In [45]:
X,Y_true=DataLoader.load('fmnist_10')
t1=time.time()
model = QuickshiftPP(k=50,beta=0.1)
model.fit([X[i] for i in range(X.shape[0])])
Y_pred = model.memberships
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.6662387847900391

         f1       ARI     ACC  cover_rate
0  0.511025  0.393695  0.5382         1.0

In [46]:
X,Y_true=DataLoader.load('fmnist_20')
t1=time.time()
model = QuickshiftPP(k=15,beta=0.7)
model.fit([X[i] for i in range(X.shape[0])])
Y_pred = model.memberships
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

0.9381675720214844

         f1       ARI     ACC  cover_rate
0  0.485258  0.226145  0.4291         1.0

In [47]:
X,Y_true=DataLoader.load('fmnist_30')
t1=time.time()
model = QuickshiftPP(k=50,beta=0.6)
model.fit([X[i] for i in range(X.shape[0])])
Y_pred = model.memberships
t2=time.time()
print(t2-t1)
measures_calculator(Y_true,Y_pred)

2.233672857284546

         f1       ARI     ACC  cover_rate
0  0.391266  0.247372  0.4427         1.0